#container {
    padding: 20px;
    max-width: 800px;
    margin: 10px auto;
}
.iconify { width: 24px; height: 24px; }


h1, h2 {
    text-align: center;
}

th {
    font-size: 1.2em;
}
code {
    font-family: monospace;
}


body {
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}